<table class="u-full-width">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.title %></td>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
    </tr>
  </tbody>
</table>
